{% extends 'base.html' %}
{% load bootstrap %}

	{% block content %}
	    

<div class="container">
<div class="row">
<hr/>
   <div class="col-sm-6" style="color: #FFF;">
   <h1 style="font-family: 'Ubuntu', Arial, sans-serif;">Formulário de inscrições</h1> 
   

  
	<form action="." method="POST" class="form" accept-charset="utf-8"> {% csrf_token %}
		<p>
			<label for="{{form.name.id_for_label}}"> </label>
			{{form.name|bootstrap}}
			{{form.name.erros}}
			
		</p>
		<p>
			
			{{form.cpf|bootstrap}}
			{{form.cpf.erros}}
			
		</p>
		<p>
			
			{{form.email|bootstrap}}
			{{form.email.erros}}
			
		</p>
		<p>
			
			{{form.phone|bootstrap}}
			{{form.phone.erros}}
			
		</p>
		
        <button type="submit" name="enviar" class="btn btn-primary">Enviar!</button>
        <a href="{% url 'home' %}" class="btn btn-default">Voltar ao site</a>
        
	</form>
		</div>
	</div>
</div>
 	
	{% endblock content %}
</body>
</html>