{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <div id="top" class="jumbotron">
      <div class="container">
        <h1>Bem-vindo ao EventeX!</h1>
        <h2>O evento mais sensacional do ano depois do Dev in Rio!<br/> Você não pode perder esta oportunidade!</h2>
        <p><a href="{% url 'subscriptions:subscribe' %}" class="btn btn-warning btn-lg">Inscreva-se já! <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
        <br><br>
        <h3>Para dúvidas e mais informações entre em contato com <a href="">eventex@eventex.com.br</a></h3>
      </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->

        <h2 id="benefits" class="subhead">Palestrantes</h3>
              <div class="row">
                <div class="col-md-4 col-sm-6 benefit">
                  <div class="benefit-ball" style="background-color: #FFF;">
                  <img src="{% static 'img/henrique.jpg' %}" style="border: solid;border-color: black;"></img>
                  </div>
                  {% for talk in get_query_set %}
                      {% ifequal talk.title "Lifestyle Business e o Ecossistema Python" %}
                 <h4>
                    <a href="{{talk.get_absolute_url}}">
                        {{ talk.title }}
                    </a>
                    <br><br><strong>Horário: {{ talk.start_time }}</strong>
                  </h4>
                          {% for speaker in talk.speakers.all %}
                              <h5>
                                 <a href="{{speaker.get_absolute_url}}"
                                  title="{{speaker.description|truncatewords:30}}">       
                                  <h3>{{ speaker.name }}</h3>
                              </a>
                              </h5>
                          {% endfor %}
                  <h4>Descrição da palestra</h4>
                  <p>{{ talk.description }}</p>
                     {% endifequal %}
                  {% endfor %}
                </div> <!-- /.benefit -->
                
                <div class="col-md-4 col-sm-6 benefit">
                  <div class="benefit-ball" style="background-color: #FFF;">
                  <img src="{% static 'img/alex.jpg' %}" style="border: solid;border-color: black;"></img>
                </div>
                  {% for talk in get_query_set %}
                      {% ifequal talk.title "Expressões Regulares" %}
                 <h4>
                    <a href="{{talk.get_absolute_url}}">
                        {{ talk.title }}
                    </a>
                    <br><br><strong>Horário: {{ talk.start_time }}</strong>
                  </h4>
                            {% for speaker in talk.speakers.all %}
                                <h5>
                                   <a href="{{speaker.get_absolute_url}}"
                                    title="{{speaker.description|truncatewords:30}}">       
                                    <h3>{{ speaker.name }}</h3>
                                </a>
                                </h5>
                                {% endfor %}
                                <h4>Descrição da palestra</h4>
                                <p>{{ talk.description }}</p>
                                    {% endifequal %}
                            {% endfor %}
                  
                </div> <!-- /.benefit -->
                <div class="col-md-4 col-sm-6 benefit">
                  <div class="benefit-ball" style="background-color: #FFF;">
                  <img src="{% static 'img/mascote.jpg' %}" style="border: solid;border-color: black;border-radius: inherit;"></img>
                    
                  </div>
                  {% for talk in get_query_set %}
                      {% ifequal talk.title "Como retirar pulgas" %}
                  <h4>
                    <a href="{{talk.get_absolute_url}}">
                        {{ talk.title }}
                    </a>
                    <br><br><strong>Horário: {{ talk.start_time }}</strong>
                  </h4>
                          {% for speaker in talk.speakers.all %}
                                  <h5>
                                     <a href="{{speaker.get_absolute_url}}"
                                      title="{{speaker.description|truncatewords:30}}">       
                                      <h3>{{ speaker.name }}</h3>
                                  </a>
                                  </h5>
                          {% endfor %}
                  <h4>Descrição da palestra</h4>
                  <p>{{ talk.description }}</p>
                      {% endifequal %}
                  {% endfor %}
                  
                </div> <!-- /.benefit --> 
       </div> <!-- /.container -->
{% endblock content %}]